
body {
    font-family: 'Roboto', sans-serif;
}

header {
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand span {
    font-size: 41px;
    font-weight: 700;
    background: linear-gradient(90deg, #254A93 13.61%, #2490F4 126.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #254A93;
}

.nav-link span {
    font-size: 16px;
    font-weight: 500;
    color: #34547A;
}

.bloc__exc h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    font-weight: 500;
    color: #2462B5;
}

.bloc__exc p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color:#737373;
}

.bloc__exc div{
    background: linear-gradient(90deg, #254A93 13.61%, #2490F4 126.94%);
    width: 239.88px;
    height: 65px;
    color: #ffffff;
}

.bloc__exc div:hover {
    background: linear-gradient(180deg, #254A93 13.61%, #2490F4 126.94%);
    transform: scale(1.2);
}

.bloc__exc a div span{
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 18px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloc__about div h2{
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #2462B5;
}

.bloc__about div p{
    font-size: 20px;
    line-height: 164.06%;
    color: #737373;
}

.bloc__about div div div h3 {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #2462B5;
}

.bloc__about div div div p {
    font-size: 20px;
    line-height: 30px;
    color: #737373;
}

.bloc__call {
    background: linear-gradient(90deg, #254A93 0%, #2490F4 111.1%), #254A93;
}

.bloc__call div h3{
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}

.bloc__form form input{
    border: 1px solid #93A2C0;
}

.bloc__form form input{
    background: transparent;
    border: none;
    border-bottom: 1px solid #93A2C0;
    border-radius: 0;
    outline: none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 22px;
}

input[type=text]::-webkit-input-placeholder{
    color: #B8C6E2;
}

input[type=text]:focus {
    background-color: transparent;
    font-size: 18px;
    color: #FFFFFF;
}

.bloc__form form button{
    background-color: #FFFFFF;
    border-radius: 5px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 65px;
    padding-right: 65px;
    transition: all 1000ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
}

.bloc__form form button:hover {
    box-shadow:#B1CFEA 0 0px 0px 40px inset;
}


.bloc__form form button span{
    font-size: 16px;
    font-weight: 500;
    background: linear-gradient(180deg, #254A93 0%, #2490F4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #254A93;
}

.bloc__checkbox div label{
    color: #EBEBEB;
    display: inline-flex;
    align-items: center;
    user-select: none;

}

.bloc__checkbox div label::before {
    content: '';
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    margin-right: 1.1em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

.bloc__checkbox input{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.bloc__checkbox input:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }

.bloc__price_box {
    background: linear-gradient(0deg, #254A93 13.61%, #2490F4 126.94%);
    box-shadow: 2px 2px 22px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #FFFFFF;
    transition: ease 1s;
}

.bloc__price_box_sell {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 110px;
    line-height: 129px;
    text-align: center;
    text-transform: uppercase;
}

.bloc__price_box_sell span{
    font-size: 20px;
}

.bloc__price_box_p {
    font-family: Roboto;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    background: #2462B5;
}

.bloc__price_box_body {
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.bloc__price_box:hover {
    background: #FFFFFF;
    box-shadow: 2px 2px 22px rgba(0, 0, 0, 1);
    border-radius: 5px;
    color:#2462B5;
    ;
}

.bloc__price_title {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #2462B5;
    margin-top: 9vw;
    margin-bottom: 4vw;
}

.img_hover {
    background-color: #2462B5;
    background-image: url(img/Group1.png);
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
    transition: ease 2s;
}


.img_hover:hover img{
    opacity: 0.3;
}

.bloc__carousel_title h2{
    font-family: Roboto;
    font-weight: 500;
    font-size: 36px;
    line-height: 50px;
    color: #2462B5;
}

.carousel-control-prev{
    opacity: 1;
}

.carousel-control-next{
    opacity: 1;
}

.carousel-indicators li{
    background-color: #C4C4C4;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.carousel-indicators {
    bottom: -60px;
}


.active {
    opacity: 0;
    background: linear-gradient(90deg, #254A93 13.61%, #2490F4 126.94%);
}

.bloc__contacts {
    background: #2462B5;
    color: #ffffff;
}

.bloc__contacts_title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 41px;
    line-height: 50px;
}

.bloc__contacts_call span{
    font-family: Montserrat;
    font-size: 26px;
    line-height: 32px;
}
